.perk-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &-0 {
        background-image: url("img/icons/perk0.webp");
    }

    &-1 {
        background-image: url("img/icons/perk1.webp");
    }

    &-2 {
        background-image: url("img/icons/perk2.webp");
    }

    &-3 {
        background-image: url("img/icons/perk3.webp");
    }
}

.perk-selectable {
    opacity: 0.6;
    filter: grayscale(10%);

    &:hover {
        opacity: 0.95;
        cursor: pointer;
    }

    &:active {
        opacity: 1;
        cursor: pointer;
    }

    &-active {
        opacity: 1;
        filter: grayscale(0%);
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

[type=radio] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

[type=radio]:checked+.perk-bg {
    opacity: 1;
    filter: grayscale(0%);
}

[type=radio]:checked+.perk-selectable {
    opacity: 1;
    filter: grayscale(0%);
}


.number {
    position: absolute;
    margin: 0 2.3em;
    color: black;

    input {
        height: 34px;
        width: 100px;
        text-align: center;
        font-size: 26px;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: inline-block;
        vertical-align: middle;
    }
}

.minus,
.plus {
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}